<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	  <form th:action="@{/noticeWrite}" method="post" id="write_form" enctype="multipart/form-data">
	<br>
	<select name = "category" required="required">
		<option value= "공지">공지</option>
		<option value= "건강">건강</option>
		<option value= "교육">교육</option>
		<option value= "복지">복지</option>
	</select> <br> <br><br>
	<span style="font-size: 20px;">제목 : </span> 
     <input style="border:none; width:500px; height: 40px;" type="text" name="title" placeholder="게시글 제목을 입력하세요" required="required"> <br>
     <br>
	<div>     
	<span style="font-size: 20px;">file : </span>
	<input type="file" name="photo" accept="image/*">
	</div>
	<br>
	 <pre><textarea cols="90" rows="15" name="content" class="hanbitText" required="required"  style="border:none" placeholder="본문내용을 입력하세요"></textarea></pre>
       <span style="font-size: 20px;">링크 : </span>
       <input style="border:none; width:500px; height: 40px;" type="text" name="link" placeholder="링크를 입력하세요" required="required"> <br>
      		<br>
      <div align="center">
  		<button type = "submit" class="btn btn-outline-success btn-lg">등록</button> 
  		</div>
	</form>

	 <!-- jQuery Ajax -->
     <script type="text/javascript">
     	$(document).ready(function() {
     		$("#write_form").submit(function() {
     			return confirm("글을 등록하시겠습니까?"); 
			});//submit
     	}); //ready
    </script>
</div>
<!--================End layout Area =================-->