<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<div align="center">
	<div align="left">
		<select id="category">
			<option th:value="공지사항">공지사항</option>
			<option th:value="건강정보">건강정보</option>
			<option th:value="알림정보">알림정보</option>
		</select>
		&nbsp;
		<button type="button" class="btn btn-outline-success" id="findNoticeByCategory">검색</button>
		</div>
		
		
		<table class="table" style="width: 1300px; word-break:break-all; text-align: center;">
			<thead>
				<tr>
					<th>번호</th>
					<th>카테고리</th>
					<th style="text-align: left;">제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody id="noticeTbody">
				<tr th:each="nb:${nblvo}">
					<td th:text="${nb.noticeNo}"></td>
					<td th:text="${nb.category}"></td>
					<td width="40%" style="text-align: left;"><a class="line" style="color: #676766;" th:href="@{/noticeDetail?noticeNo=} + ${nb.noticeNo}" th:text="${nb.title}"></a></td>
					<td th:text="${nb.memberVO.nick}"></td>
					<td th:text="${nb.timePosted}"></td>
					<td th:text="${nb.hits}"></td>
				</tr>
			</tbody>
		</table>
		<div align="right">
			<th:block th:if="${session.mvo!=null}">
				<th:block th:if="${session.mvo.memberType == 3}">
					<form th:action="@{writeNoticeForm}">
						<button type = "submit" class="btn btn-outline-success">글쓰기</button>
					</form>
				</th:block>
			</th:block>
		</div>
	<!--  <ul class="pagination justify-content-center">
			<th:block th:if="${paging.prev}">
				<li class="page-item active"><a class="page-link"
					th:href="@{/noticeBoardList(page=${paging.startPage-1})}">Pre</a></li>
			</th:block>
			<th:block
				th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}"
				var="num">
				<li class="page-item"><a class="page-link"
					th:href="@{/noticeBoardList(page=${num})}" th:text="${num}"></a></li>
			</th:block>
			<th:block th:if="${paging.next && paging.endPage>0}">
				<li class="page-item active"><a class="page-link"
					th:href="@{/noticeBoardList(page=${paging.endPage+1})}">Next</a></li>
			</th:block>
		</ul> -->	
		    <ul class="pagination justify-content-center">
		<th:block th:if="${paging.prev}">
          <li class="page-item active"><a class="page-link" th:href="@{/noticeBoardListpage=${paging.startPage-1})}">Pre</a></li>
        </th:block>
        <th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
          <li class="page-item"><a class="page-link" th:href="@{/noticeBoardList(page=${num})}" th:text="${num}"></a></li>
        </th:block>
        <th:block th:if="${paging.next && paging.endPage>0}">
          <li class="page-item active"><a class="page-link" th:href="@{/noticeBoardList(page=${paging.endPage+1})}">Next</a></li>
        </th:block>
       </ul>

		<script type="text/javascript">
			$(function() {
				$("#findNoticeByCategory").click(function() {
					let category=$("#category").val();
					$.ajax({
						type : "get",
						url : "findNoticeByCategory",

						//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
						data : "category="+category,
						success : function(list) {
							$("#noticeTbody").replaceWith(list);//replaceWith
						}
					});//ajax
				});//click
			});//ready
		</script>
	</div>

</div>
<nav></nav>
<!--================End layout Area =================-->