<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
<div align="left">
<span style="font-size: 20px;">제목 : </span><span style="font-size: 20px;" th:text="${detail.title}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size: 20px;">작성자 : </span><span style="font-size: 20px;" th:text="${detail.memberVO.nick}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size: 20px;">작성일 : </span><span style="font-size: 20px;" th:text="${detail.timePosted}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size: 20px;">조회수 : </span><span style="font-size: 20px;" th:text="${detail.hits}"></span>
<br><br>
<input type="hidden" name="noticeNo" th:value="${detail.noticeNo}">
<img th:src = "@{/images/} + ${detail.image}" style="width: 600px; height: 500px;"><br>
<br>
<div><p class="hanbitText2" th:text="${detail.content}"></p></div>
<p>자세한 내용은 링크에서 확인하세요 &nbsp;&nbsp;
<a th:href="${detail.link}" style="color: #A7CB03" class="line" target="_blank">홈페이지 바로가기</a>
<br>
<div align="left">
<th:block th:if="${session.mvo!=null}">
		<th:block th:if="${session.mvo.memberType == 3}">
			<form th:action="@{noticeDelete?noticeNo=}+${detail.noticeNo}"
				method="post" style="float: left; margin-right: 10px;" id="deleteConfirm">
				<button class="btn btn-outline-success">삭제</button>
			</form>
			<form th:action="@{noticeUpdateForm?noticeNo=}+${detail.noticeNo}" id="updateConfirm" style="float: left;">
			<input type="hidden" name="noticeNo" th:value="${detail.noticeNo}" >
				<button class="btn btn-outline-success">수정</button>
			</form>
			</th:block>
			</th:block>
		</div>	
<br><br>
	<!-------------- 댓글 ------------------>
 <form th:action="@{/writenoticeComment}" id="registerConfirm" method="post" style="float: left;">
		<div align="left" style="float: left;">
		<input type="hidden" name="noticeNo" th:value="${detail.noticeNo}">
		<span style="font-size: 18px;">작성자 : <input name="id" th:value="${session.mvo.id}" readonly style="width: 120px; border: none;"></span>
		<pre><textarea class="hanbitTextComment" name="content" cols="80" rows="2" placeholder="댓글을 남겨주세요" required="required"></textarea></pre>
			</div>
			<div style="float: right; margin-top: 50px; margin-left: 10px;">
				<button type="submit" class="btn btn-outline-success" style="float: right;">댓글등록</button><br>
		</div>
	</form>
	<div >
	<br>
	<table class="table table-borderless" style="text-align: left; width: 1200px;">
   <tbody >
      <tr th:each="co:${commentList}">
         <td style="font-size: 18px;" th:text="${co.id}"></td>
         <td style="font-size: 18px;" th:text="${co.content}"></td>
         <td style="font-size: 18px;" th:text="${co.timePosted}"></td>
         	 <th:block th:if="${session.mvo!=null}">
			 <th:block th:if="${session.mvo.id==co.id}">
         <td style="width: 10%;">
			 <!--  댓글 삭제 -->
	         <form th:action="@{/commentnoticeDelete}" method="post" id="commentDeleteConfirm">
         	 <input type="hidden" name="commentNo" th:value="${co.commentNo}">
         	 <input type="hidden" name="noticeNo" th:value="${detail.noticeNo}">
			 <button class="btn btn-outline-success">삭제</button>
			 </form>
         </td>
	         </th:block>
			</th:block>
      </tr>
   </tbody>
</table>
</div>
</div>
<script type="text/javascript" >
		$(document).ready(function() {
			$("#deleteConfirm").submit(function() {
				return confirm("해당 게시물을 정말 삭제하시겠습니까?????");
			});//submit
		}); //ready
	</script>
	<script type="text/javascript" >
		$(document).ready(function() {
			$("#updateConfirm").submit(function() {
				return confirm("수정 화면으로 이동하시겠습니까?");
			});//submit
			$("#registerConfirm").submit(function() {
				return confirm("댓글 등록을 하시겠습니까?");
			});//댓글등록시
			
			$("#commentDeleteConfirm").submit(function() {
				return confirm("해당 댓글을 삭제하시겠습니까?");
			});//댓글삭제시
		}); //ready
	</script>
</div>
<!--================End layout Area =================-->