<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	  <form th:action="@{/noticeUpdate}" method="post" id="update_form" enctype="multipart/form-data">
   <input name="noticeNo" th:value="${param.noticeNo}" type = "hidden">
   <input name="noticeNo" th:value="${detail.noticeNo}" type = "hidden">
	 <input name="id" th:value="${session.mvo.id}" type = "hidden">
	<select name = "category">
		<option value= "공지">공지</option>
		<option value= "건강">건강</option>
		<option value= "교육">교육</option>
		<option value= "복지">복지</option>
	</select> <br> <br><br>
	<span style="font-size: 20px;">제목 : </span>
     <input style="border:none; width:500px; height: 40px;" type="text" name="title" th:value=${detail.title} required="required"> <br>
     <br>
	 <pre><textarea cols="90" rows="15" name="content" class="hanbitText" required="required" th:text=${detail.content}></textarea></pre>
      <span style="font-size: 20px;">링크 : </span>
      <input style="border:none; width:500px; height: 40px;" type="text" name="link" th:value="${detail.link}" required="required"> <br>
  		<div align="center">
  		<button type = "submit" class="btn btn-outline-success btn-lg">수정</button> 
  		</div>
	</form>

	 <!-- jQuery Ajax -->
     <script type="text/javascript">
     	$(document).ready(function() {
     		$("#update_form").submit(function() {
     			return confirm("글을 수정하시겠습니까?"); 
			});//submit
     	}); //ready
    </script>
</div>
<!--================End layout Area =================-->