<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<h4>※ 알림 글수정※</h4>
	  <form th:action="@{/noticeUpdate}" method="post" id="update_form" enctype="multipart/form-data">
   <input name="noticeNo" th:value="${param.noticeNo}" type = "hidden">
   <input name="noticeNo" th:value="${detail.noticeNo}" type = "hidden">
	 <input name="id" th:value="${session.mvo.id}" type = "hidden">
	<br>
	<select name = "category">
		<option value= "알림 정보">알림 정보</option>
		<option value= "건강 정보">건강 정보</option>
		<option value= "공지사항">공지 사항</option>
	</select> <br> <br><br>
	제목 &nbsp; &nbsp;
     <input type="text" name="title" th:value=${detail.title} required="required"> <br>
     <br>
	 <textarea cols="90" rows="15" name="content" class="form-control" required="required"  style="border:none" th:text=${detail.content}></textarea>
		<br><br>
	 <div class="form-group row">
<!--     <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>  -->   
          <div class="col-sm-10">
            <br><br>
      링크 <input type="text" name="link" placeholder="링크를 입력하세요" required="required"> <br>
      		<br><br>
      		링크 양식 예시: 
      		<br> https://www.naver.com 
      		<br> https://www.seouldementia.or.kr/info/notice.asp?pagename=view&num=237528&page=1&search=
      		<br><br>4444
         </div>
      </div>
      <br><br>
      <br><br>
  	<div>
    file : <input type="file" name="photo" accept="image/*">
  	</div>
  	<input type="submit">
  		<button type = "submit" > 
		등록
		</button> 
	</form>

	 <!-- jQuery Ajax -->
     <script type="text/javascript">
     	$(document).ready(function() {
     		$("#update_form").submit(function() {
     			return confirm("글을 등록하시겠습니까?"); 
			});//submit
     	}); //ready
    </script>
</div>
<!--================End layout Area =================-->