<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<h4>※ 알림 글쓰기※</h4>
	  <form th:action="writeNoticeBoard" method="post" id="write_form">
	<br>
	<select>
		<option value= "알림 정보">알림 정보</option>
		<option value= "건강 정보">건강 정보</option>
		<option value= "공지사항">공지 사항</option>
	</select> <br> <br><br>
	제목 &nbsp; &nbsp;
     <input type="text" name="title" placeholder="게시글 제목을 입력하세요" required="required"> <br>
     <br>
	 <textarea cols="90" rows="15" name="content" required="required" placeholder="본문내용을 입력하세요"></textarea>
		<button type = "submit" >
		등록
		</button> 
	</form>
	 <!-- jQuery Ajax -->
     <script type="text/javascript">
     	$(document).ready(function() {
     		$("#write_form").submit(function() {
     			return confirm("글을 등록하시겠습니까?"); 
			});//submit
     	}); //ready
     
     </script>
</div>
<!--================End layout Area =================-->