<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/free_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
<div layout:fragment="content">
   <form th:action="@{freeUpdate}" method="post">
   <input name="id" th:value="${session.mvo.id}" type = "hidden">
   <input name="freeNo" th:value="${param.freeNo}" type = "hidden">
 	<select name="category" required="required">
		<option value="자유글">자유글</option>
		<option value="정보글">정보글</option>
		<option value="실종신고">실종신고</option>
	</select> <br> <br><br>
    <span style="font-size: 20px;">제목 : </span>
     <input style="border:none; width:500px; height: 40px;" name="title" type="text" th:value=${freeDetail.title} required="required">
    <br>
     <input type="hidden" name="no" th:value="${freeDetail.freeNo}">
  	 <pre><textarea cols="90" rows="15" name="content" class="hanbitText" th:text=${freeDetail.content} required="required"></textarea></pre>
	<div align="center">
     <button type="submit" class="btn btn-outline-success btn-lg">수정</button>  
     </div>
     </form>
  	

     <!-- jQuery Ajax -->
     <script type="text/javascript">
     	$(document).ready(function() {
     		
     		//submit 버튼의 아이디를 처리할 때는 form의 아이디로 select한다.
     		$("#write_form").submit(function() {
     			//취소를 누르면 return false로 submit되지 않는다.
     			return confirm("글을 수정하시겠습니까?"); 
			});//submit
     		
     	});ready
     
     </script>
     

</div>
 <!--================End layout Area =================-->