<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/free_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
<div layout:fragment="content">

<div class="row">
      <br> <select name="category">
		<option value="자유글">자유글</option>
		<option value="정보글">정보글</option>
		<option value="실종신고">실종신고</option>
	</select> <br>
      <button type="button" id="searchCategory" th:action="@{/findFreeByCategory}" >검색</button>
      <!-- th:action="@{/findFreeByCategory}"  -->
      <br>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일자</th>
            <th>조회수</th>
            <th>내용</th>
            <th>카테고리</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="board:${FreeBoardList}">
            <td><a th:href="@{/freeDetail?freeNo=} + ${board.freeNo}" th:text="${board.freeNo}"></a></td>
            <td th:text="${board.memberVO.nick}"></td>
            <td><a th:href="@{/freeDetail?freeNo=} + ${board.freeNo}" th:text="${board.title}"></a> </td>
            <td th:text="${board.timePosted}"></td>
            <td th:text="${board.hits}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.category}"></td>
        </tr>
    </tbody>
</table>
 <th:block th:if="${session.mvo!=null}">
 <form th:action="@{freeWrite}">
         <button>
            글쓰기
         </button>
      </form>
</th:block>


    <!--  </th:block>
      </th:block> -->
      <ul class="pagination justify-content-center">
		<th:block th:if="${paging.prev}">
          <li class="page-item active"><a class="page-link" th:href="@{/freeBoardListpage=${paging.startPage-1})}">Pre</a></li>
        </th:block>
        <th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
          <li class="page-item"><a class="page-link" th:href="@{/freeBoardList(page=${num})}" th:text="${num}"></a></li>
        </th:block>
        <th:block th:if="${paging.next && paging.endPage>0}">
          <li class="page-item active"><a class="page-link" th:href="@{/freeBoardList(page=${paging.endPage+1})}">Next</a></li>
        </th:block>
       </ul>
      


<!-- <th:block th:if="${session.mvo.memberType == 3}"> -->
 <form th:action="@{/freeReportList}">
         <button>
           신고리스트 보기
         </button>
      </form>
</th:block>




</div>
</div>
 <!--================End layout Area =================-->