<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/free_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛_자유게시판 게시글 상세보기 페이지</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">

	<script type="text/javascript">
		$(document).ready(function() {

			$("#deleteForm").submit(function() {
				return confirm("게시글을 삭제하시겠습니까?");
			});//deleteForm

			$("#updateForm").submit(function() {
				return confirm("게시글을 수정하시겠습니까?");
			});//updateForm

		});//ready
	</script>


	<!-- container-fluid: 화면 너비와 상관없이 항상 100% -->
<table class="table table-bordered">
   <thead>
      <tr>
         <th>글번호</th><th>제목</th><th>작성자</th><th>조회수</th><th>카테고리</th>
      </tr>
   </thead>
   <tbody >
   <tr>
         <td th:text="${freeDetail.freeNo}"></td>
         <td th:text="${freeDetail.title}"></td>
         <td th:text="${freeDetail.memberVO.nick}"></td>
         <td th:text="${freeDetail.hits}"></td>
         <td th:text="${freeDetailcategory}"></td>
      </tr>
      </tbody>
    </table>
    내용<br>
    <textarea cols="90" rows="15" name="content" required="required" th:text="${freeDetail.content}"></textarea>

	<!-- <p th:text="${freeDetail.freeNo}">글번호</p>
	<p th:text="${freeDetail.title}">제목</p>
	<p th:text="${freeDetail.memberVO.nick}">작성자</p>
	<p th:text="${freeDetail.hits}">조회수</p>
	<p th:text="${freeDetail.content}">내용</p>
	<p th:text="${freeDetailcategory}">카테고리</p>

	<p th:text="${freeDetail.content}"></p> -->


	<form th:action="@{freeReport?freeNo=}+${freeDetail.freeNo}"
		method="post">
		<button>신고</button>
	</form>
	<th:block th:if="${session.mvo!=null}">
		<th:block th:if="${session.mvo.nick==freeDetail.memberVO.nick}">
			<form th:action="@{freeDelete?freeNo=}+${freeDetail.freeNo}"
				method="post">
				<button>삭제</button>
			</form>

			<form id="freeDetailUpdateForm"
				th:action="@{freeDetailUpdateForm?freeNo=}+${freeDetail.freeNo}">
				<input type="hidden" name="freeNo" th:value="${freeDetail.freeNo}">
				<button type="submit">수정</button>
			</form>
		</th:block>
	</th:block>


	<!-------------- 댓글 ------------------>

	<form th:action="@{/writeComment}" method="post">
		<div class="comment-box">
		<input type="hidden" name="freeNo" th:value="${freeDetail.freeNo}">
			<div class="comment-name">
				작성자 : <input name="id" th:value="${session.mvo.id}"
					class="form-control"  readonly
					style="width: 100px; border: none;">
			</div>

			<div class="comment-sbox">
				<textarea class="comment-input" name="content" cols="80" rows="2"></textarea>
			</div>
			<div>
				<button type="submit">댓글등록</button><br>
			</div>
		</div>
	</form>
	<div>
	<table class="table table-bordered">
   <thead>
      <tr>
         <th>아이디</th><th>내용</th><th>시간</th><th></th>
      </tr>
   </thead>
   <tbody >
      <tr th:each="co:${commentList}">
         <td th:text="${co.id}"></td>
         <td th:text="${co.content}"></td>
         <td th:text="${co.timePosted}"></td>
	         <th:block th:if="${session.mvo!=null}">
			 <th:block th:if="${session.mvo.id==co.id}">
         <td>
         	 
	        <!--  <button type="submit">수정</button> -->
	         <form th:action="@{/commentDelete}" method="post">
         	 <input type="hidden" name="commentNo" th:value="${co.commentNo}">
         	 <input type="hidden" name="freeNo" th:value="${freeDetail.freeNo}">
			 <button >삭제</button>
			 </form>
         </td>
	         </th:block>
			</th:block>
      </tr>

   </tbody>
</table>

	</div>

	





</div>

<!--================End layout Area =================-->