<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/free_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
<div layout:fragment="content">

<!-- <p th:text="${reportList}"></p>번 글에서 신고가 접수되었습니다. -->
<table class="table table-bordered">
<tbody >
      <tr th:each="r:${reportList}">
           <td class="reportNo" th:text="${r}"></td>
           <td>번 글에서 신고가 접수되었습니다.</td>
       </tr>
</tbody>
</table>   
<script type="text/javascript">
	$(document).ready(function() {
		$(".reportNo").click(function() {
			location.href="/freeDetail?freeNo="+$(this).text();
		})
	})
</script>
</div>
 <!--================End layout Area =================-->