<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/free_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
<div layout:fragment="content">

<div align="center">
	<div align="left">
        <select id="category">
     	<option value="">전체 보기</option>
		<option th:value="자유글">자유글</option>
		<option th:value="정보글">정보글</option>
		<option th:value="실종신고">실종신고</option>
	</select>
	&nbsp;
      <button type="button" class="btn btn-outline-success" id="findFreeByCategory">검색</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       	<input type="text" id="keyword" size="30;"></input>
       <button type="button" class="btn btn-outline-success" id="findFreeByKeyword">검색</button><br>
      </div>


   <table class="table" style="width: 1300px; word-break:break-all; text-align: center;">
    <thead>
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th  style="text-align: left;">제목</th>
            <th>작성자</th>
            <th>작성일자</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody id="freeTbody">
        <tr th:each="board:${FreeBoardList}">
            <td th:text="${board.freeNo}"></td>
            <td th:text="${board.category}"></td>
            <td width="40%" style="text-align: left;"><a class="line" style="color: #676766;" th:href="@{/freeDetail?freeNo=} + ${board.freeNo}" th:text="${board.title}"></a> </td>
            <td th:text="${board.memberVO.nick}"></td>
            <td th:text="${board.timePosted}"></td>
            <td th:text="${board.hits}"></td>
        </tr>
    </tbody>
</table>
<div align="right">
 <th:block th:if="${session.mvo!=null}">
 <form th:action="@{freeWrite}" style="float: right;">
         <button class="btn btn-outline-success">글쓰기</button>
    </form>
</th:block>
 <th:block th:if="${session!=null && session.mvo!=null && session.mvo.memberType==3}">
 <form th:action="@{/freeReportList}" style="float: right;">
         <button class="btn btn-outline-success" style="margin-right: 20px;">신고리스트 보기</button>
      </form>
</th:block>
</div>
      <ul class="pagination justify-content-center">
		<th:block th:if="${paging.prev}">
          <li class="page-item active"><a class="page-link" th:href="@{/freeBoardList(page=${paging.startPage-1})}">Pre</a></li>
        </th:block>
        <th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
          <li class="page-item"><a class="page-link" th:href="@{/freeBoardList(page=${num})}" th:text="${num}"></a></li>
        </th:block>
        <th:block th:if="${paging.next && paging.endPage>0}">
          <li class="page-item active"><a class="page-link" th:href="@{/freeBoardList(page=${paging.endPage+1})}">Next</a></li>
        </th:block>
       </ul>
      




<script type="text/javascript">
			$(function() {
				$("#findFreeByCategory").click(function() {
					let category = $("#category").val();
					$.ajax({
						type : "get",
						url : "findFreeByCategory",
						//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
						data : "category=" + category,
						success : function(list) {
							$("#freeTbody").replaceWith(list);//replaceWith
						}
					});//ajax
				});//click
			});//ready
			
			$(function() {
				$("#findFreeByKeyword").click(function() {
					let keyword = $("#keyword").val();
					$.ajax({
						type : "get",
						url : "findFreeByKeyword",
						//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
						data : "keyword=" + keyword,
						success : function(list) {
							$("#freeTbody").replaceWith(list);//replaceWith
						}
					});//ajax
				});//click
			});//ready
			
			
			
		</script>


</div>
</div>
 <!--================End layout Area =================-->