<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/member_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>글번호</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th>
					</tr>
				</thead>
					<tbody>
						<tr th:each="myLikedList:${myLikedList}">
							<td th:text="${myLikedList.matchNo}"></td>
							<td> <a th:href="@{/matchDetail?matchNo=} + ${myLikedList.matchNo}" th:text="${myLikedList.title}"></a></td>
							<td th:text="${session.mvo.name}"></td>
							<td th:text="${myLikedList.timePosted}"></td>
						  	<td th:text="${myLikedList.hits}"></td>   
						</tr>
					</tbody>
			</table>
        </div>
 <!--================End layout Area =================-->