<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
		<div layout:fragment="content">
			<div class="row g-4">
	        	 <div class="col-lg12 offset-lg-5 col-md-7">
					<h2><a class="line" style="color: #a7cb00" href="#" th:href="@{/myPageDetail?id=}+${session.mvo.id}">내 정보조회</a></h2><br>
					<th:block th:if=${session.mvo.memberType==1}>
						<h2><a class="line" style="color: #a7cb00" href="#" th:href="@{/registerCareWorkerForm}">요양보호사등록</a></h2><br>
					</th:block>
					<h2><a class="line" style="color: #a7cb00" href="#" th:href="@{/myPagePostList?id}+${session.mvo.id}">작성 글 목록</a></h2><br>
					<h2><a class="line" style="color: #a7cb00" href="#" th:href="@{/myLikedList?id}+${session.mvo.id}">찜목록 조회</a></h2><br>
					<form action="" th:action="@{/deleteMemberForm}" id="deleteForm"></form>
					<h2><a class="line" style="color: #a7cb00" href="#" id="deleteFormBtn">회원탈퇴</a></h2>
					<script type="text/javascript">
		               $(document).ready(function() {
		                  $("#deleteFormBtn").click(function() {
		                     let resultUpdate=confirm("회원을 탈퇴하시겠습니까?")
		                     if(resultUpdate==true){
		                        $("#deleteForm").submit();
		             	     }
            	     	 });//click
              		 });//ready
					</script>
				</div>
			</div>
		</div>
<!--================End layout Area =================-->