<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<div class="row g-4">
		<div class="col-lg10 offset-lg-2 col-md-8">
			<h1 style="color: #a7cb00">회원 정보</h1>
			<br>
			<table class="table table-bordered" style="text-align: center;">
				<tr>
					<td style="width: 300px;">아이디</td>
					<td th:text="${session.mvo.id}">아이디</td>
				</tr>
				<tr>
					<td>이름</td>
					<td th:text="${session.mvo.name}">이름</td>
				</tr>
				<tr>
					<td>닉네임</td>
					<td th:text="${session.mvo.nick}">닉네임</td>
				</tr>
				<tr>
					<td>개별질문</td>
					<td th:text="${session.mvo.question}">질문</td>
				</tr>
				<tr>
					<td>답변</td>
					<td th:text="${session.mvo.answer}">답변</td>
				</tr>
				<tr>
					<td>연락처</td>
					<td th:text="${session.mvo.tel}">연락처</td>
				</tr>
				</table>
				<br>
				<th:block th:if="${session.mvo.memberType==2}">
				<h1 style="color: #a7cb00">요양보호사 정보</h1>
				<br>
				<table class="table table-bordered" style="text-align: center;">
					<tr>
						<td style="width: 300px;">자격증번호</td>
						<td th:text="${session.mvo.licenseNo}">자격증번호</td>
					</tr>
					<tr>
						<td>성별</td>
						<td th:text="${session.mvo.gender}">성별</td>
					</tr>
					<tr>
						<td>경력</td>
						<td th:text="${session.mvo.workHistory}">경력</td>
					</tr>
					<tr>
						<td>근무지역</td>
						<td th:text="${session.mvo.location}">근무지역</td>
					</tr>
					<tr>
						<td>근무형태</td>
						<td th:text="${session.mvo.workType}">근무형태</td>
					</tr>
			</table>
			</th:block>
			<div align="right">
				<form action="" th:action="@{/updateMemberForm}" id="updateForm"></form>
				<a class="banner_btn2" id="updateFormBtn">회원 정보 수정</a>
				<script type="text/javascript">
					$(document).ready(function() {
						$("#updateFormBtn").click(function() {
							let resultUpdate=confirm("회원 정보를 수정하시겠습니까?")
							if(resultUpdate==true){
								$("#updateForm").submit();
							}
						});//click
					});//ready
				</script>
			</div>
		</div>
	</div>
</div>
<!--================End layout Area =================-->