<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<!--================자유게시판 글 목록 =================-->
<div layout:fragment="content">
<div align="center">
<h2 style="color: #a7cb00; padding-left: 90px;" align="left">댓글 목록</h2>
<table class="table" style="width: 1100px; word-break:break-all; text-align: center;">
	<thead>
		<tr>
			 <th width="15%">NO</th>
			 <th width="65%">내용</th>
			 <th width="20%">시간</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="FreeComment:${myPageFreePostCommentList}">
		  <td th:text="${FreeCommentStat.count}"></td>
         <td><a class="line" style="color: #676766;" th:href="@{/freeDetail?freeNo=} + ${FreeComment.freeNo}" th:text="${FreeComment.content}"></a></td>
         <td th:text="${FreeComment.timePosted}"></td>
	</tbody>
</table>
</div>
</div>

	<!--================End layout Area =================-->