<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/match_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<h4>※ 요양보호사 상세보기 페이지입니다! ※</h4>
	<br> <br> 
	아이디 :
	<h4 th:text="${matchDetail.memberVO.id}"></h4>
	<br><br>
	제목 :
	<h4 th:text="${matchDetail.title}"></h4>
	<br> <br> 
	작성시간 :
	<h4 th:text="${matchDetail.timePosted}">작성시간</h4>
	<br><br>
	 닉네임 :
	<h4 th:text="${matchDetail.memberVO.nick}">닉네임</h4>
	<br><br>
	 조회수 :
	<h4 th:text="${matchDetail.hits}">조회수</h4>
    <br><br>
     사진 :
	<h4 th:text="${matchDetail.image}">사진나오는부분!</h4>
	<br><br>
	이름과 소개글:
	<h4 th:text="${matchDetail.memberVO.name}">이름과 소개글이 함께 나오는 부분</h4> 요양보호사입니다!
	<h4 th:text="${matchDetail.content}">이름과 소개글이 함께 나오는 부분</h4>

	<br> <br>
	성별 :
	<h4 th:text="${matchDetail.memberVO.gender}">성별 나오는 부분</h4>
	<br>
	근무이력:
	<h4 th:text="${matchDetail.memberVO.workHistory}">근무이력 나오는 부분</h4>
	<br>
	지역 :
	<h4 th:text="${matchDetail.memberVO.location}">지역 나오는 부분</h4>
	<br>
	근무형태:
	<h4 th:text="${matchDetail.memberVO.workType}">근무 형태 나오는 부분</h4>
	<br>
	연락처 :
	<h4 th:text="${matchDetail.memberVO.tel}">연락처 나오는 부분</h4>
	<br>
	<br>
	 <!-- 수정 삭제부분 시작  -->
	<th:block th:if="${session.mvo!=null}">
		<th:block th:if="${session.mvo.nick==matchDetail.memberVO.nick}">
			<form th:action="@{/matchDelete?matchNo=}+${matchNo}"
				method="post" id="deleteConfirm">
				<button>삭제</button>
			</form>

			<form id="matchDetailUpdateForm" th:action="@{/matchDetailUpdateForm?matchNo=}+${matchNo}">
				<input type="hidden" name="matchNo" th:value="${matchNo}">
				<button type="submit">수정</button>
			</form>
		</th:block>
	</th:block>
	
	<!--  수정 삭제부분 끝  -->
	
	<!-- <a th:href="@{/SendMessage?yoyangsaName=} + ${matchDetail.memberVO.name}">쪽지보내기</a>  &nbsp; &nbsp; &nbsp; -->
	<a th:href="@{/SendMessage(yoyangsaName=${matchDetail.memberVO.name}, matchBoardId=${matchDetail.memberVO.id},matchNo=${matchNo})} ">쪽지보내기</a>  &nbsp; &nbsp; &nbsp;
	<a th:href="@{/MatchBoardList}">목록으로</a>  &nbsp; &nbsp; &nbsp;
	
	
	<form th:action="@{/showLike}">
	<input name="id" th:value="${session.mvo.id}" type = "hidden">
	<input type="hidden" name="matchNo" th:value="${matchNo}">
	<button>찜</button>
	</form>
	
	
	
	
	<script type="text/javascript">
     	$(document).ready(function() {
     		$("#deleteConfirm").submit(function() {
     			return confirm("해당 게시물을 정말 삭제하시겠습니까?????"); 
			});//submit
     	}); //ready
     
     </script>
</div>

<!--================End layout Area =================-->