<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/match_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<div align="left">
	<span style="font-size: 20px;">제목 : </span><span style="font-size: 20px;" th:text="${matchDetail.title}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span style="font-size: 20px;">작성자 : </span><span style="font-size: 20px;" th:text="${matchDetail.memberVO.nick}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span style="font-size: 20px;">작성일 : </span><span style="font-size: 20px;" th:text="${matchDetail.timePosted}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-size: 20px;">조회수 : </span><span style="font-size: 20px;" th:text="${matchDetail.hits}"></span>
    <br><br>
	<img th:src="@{/images/} + ${matchDetail.image}" style="width: 200px; height: 200px;"><br>
	<br> 
	<span style="font-size: 18px;">이름 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.name}"></span><br>
	<span style="font-size: 18px;">성별 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.gender}"></span><br>
	<span style="font-size: 18px;">근무이력 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.workHistory}"></span><br>
	<span style="font-size: 18px;">지역 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.location}"></span><br>
	<span style="font-size: 18px;">근무형태 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.workType}"></span><br>
	<span style="font-size: 18px;">연락처 : </span><span style="font-size: 18px;" th:text="${matchDetail.memberVO.tel}"></span><br><br>
   <div><p class="hanbitText2" th:text="${matchDetail.content}"></p></div>
   <br>
   <!-- 기존찜버튼 -->
	<!-- <form th:action="@{/showLike}">
		<input name="id" th:value="${session.mvo.id}" type="hidden"> <input
			type="hidden" name="matchNo" th:value="${matchNo}">
		<button id="likeAjax">찜</button>
		&nbsp; <img id="imageBody" th:src="@{/images/}+${likePic}" width="30" height="30">

	</form> -->
	<div align="left">
	<form style="float: left; margin-right: 10px;">
		<img id="likeAjaxImg" th:src="@{/images/}+${likePic}" width="30" height="30">
	</form>
	<th:block th:if="${session.mvo!=null}">
 <th:block th:if="${session.mvo.id!=matchDetail.memberVO.id}"> 
		<a th:href="@{/SendMessage(yoyangsaName=${matchDetail.memberVO.name}, matchBoardId=${matchDetail.memberVO.id},matchNo=${matchNo})} " style="float: left; color: #A7CB03" class="line">쪽지보내기</a>
	</th:block>
	</th:block>
	</div>
	<br><br>
   <!-- 수정 삭제부분 시작  -->
   <div align="left">
   <th:block th:if="${session.mvo!=null}">
      <th:block th:if="${session.mvo.nick==matchDetail.memberVO.nick}">
         <form th:action="@{/matchDelete?matchNo=}+${matchNo}" method="post"
            id="deleteConfirm" style="float: left; margin-right: 10px;">
            <button class="btn btn-outline-success">삭제</button>
         </form>
			<form id="updateConfirm"
				th:action="@{/matchDetailUpdateForm?matchNo=}+${matchNo}"  style="float: left;">
				<input type="hidden" name="matchNo" th:value="${matchNo}">
				<button type="submit" class="btn btn-outline-success">수정</button>
			</form>
		</th:block>
	</th:block>
	<!--  수정 삭제부분 끝  -->
</div>

	<script type="text/javascript" >
		$(document).ready(function() {
			$("#deleteConfirm").submit(function() {
				return confirm("해당 게시물을 정말 삭제하시겠습니까?????");
			});//submit
		}); //ready
	</script>
	
		<script type="text/javascript" >
		$(document).ready(function() {
			$("#updateConfirm").submit(function() {
				return confirm("수정 화면으로 이동하시겠습니까?");
			});//submit
		}); //ready
	</script>

   <!--  수정 삭제부분 끝  -->

	<script type="text/javascript" th:inline="javascript">
		$(function(){
			$("#likeAjaxImg").click(function() {				
				let id= /*[[${session.mvo.id}]]*/ "회원아이디";
				let matchNo = /*[[${matchNo}]]*/ "매칭글번호";
				
				$.ajax({
					type:"get",
					url:"showLike",
					//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
					data:"id="+id+"&matchNo="+matchNo,
					success:function(result){		
						//alert("여기까지 옵니까?????!"+ result);
						if(result=="unlike"){
							$("#likeAjaxImg").attr("src","/images/nonolike.png")
							
						}else{
							$("#likeAjaxImg").attr("src","/images/likelike.png")
							
							
						}
						
						//$("#imageBody").replaceWith(list);//replaceWith
					}
				});//ajax
			});//click
		});//ready
	</script>
	</div>
</div>

<!--================End layout Area =================-->