<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/match_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
         <div class="row" style="margin-left: 5px;">
       <span style="font-size: 20px; margin-top: 8px; margin-right: 8px;">지역</span>
        <select id="loc">
        <option value="">전체</option>
        <option th:value="서울">서울</option>
        <option th:value="경기">경기</option>
        <option th:value="강원">강원</option>
        <option th:value="충북">충북</option>
        <option th:value="충남">충남</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>
        <option value="제주">제주</option>
        </select>
          
          <span style="font-size: 20px; margin-left: 20px; margin-top: 8px; margin-right: 8px;">성별</span>
        <select id="gen">
        <option value="">무관</option>
        <option value="남성">남성</option>
        <option value="여성">여성</option>
        </select>
      
        <span style="font-size: 20px; margin-left: 20px; margin-top: 8px; margin-right: 8px;">근무형태</span>
        <select id="wtype">
        <option value="">전체</option> 
        <option value="자택근무">자택근무</option>
        <option value="병원근무">병원근무</option>
        </select>
        <button type="button" id="searchList" style="margin-left: 8px;" class="btn btn-outline-success">검색</button>
    </div>
    <br>
    <table class="table" style="width: 1300px; word-break:break-all; text-align: center;">
	<thead>
		<tr>
			<th>번호</th>
			<th>지역</th>
			<th style="text-align: left;">제목</th>
			<th>작성자</th>
			<th>작성일</th>
			<th>조회수</th>
		</tr>
	</thead>
	<tbody id="matchTbody">
		<tr th:each="match:${matchList}">
			<td th:text="${match.matchNo}"></td>
			<td th:text="${match.memberVO.location}"></td>
			<td width="40%" style="text-align: left;"> <a class="line" style="color: #676766;" th:href="@{/matchDetail?matchNo=} + ${match.matchNo}" th:text="${match.title}"></a></td>
			<td th:text="${match.memberVO.name}"></td>
			<td th:text="${match.timePosted}"></td>
		  <td th:text="${match.hits}"></td>   
		</tr>
	</tbody>
</table>
<br>
<th:block th:if="${session.mvo!=null}">
 <th:block th:if="${session.mvo.memberType==2}"> 
 <form th:action="@{/WriteMatchBoardForm}" style="float: right;">
<button class="btn btn-outline-success">글쓰기</button>
</form>
 </th:block>
 </th:block>
<!--  페이지네이션 시도 -->
<ul class="pagination justify-content-center">
		<th:block th:if="${paging.prev}">
          <li class="page-item active"><a class="page-link" th:href="@{/MatchBoardList(page=${paging.startPage-1})}">Pre</a></li>
        </th:block>
        <th:block th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" var="num">
          <li class="page-item"><a class="page-link" th:href="@{/MatchBoardList(page=${num})}" th:text="${num}"></a></li>
        </th:block>
        <th:block th:if="${paging.next && paging.endPage>0}">
          <li class="page-item active"><a class="page-link" th:href="@{/MatchBoardList(page=${paging.endPage+1})}">Next</a></li>
        </th:block>
       </ul>



<!-- 페이지네이션 시도 -->
<!-- <h4 th:text="${session.mvo.memberType}"></h4>
<h4 th:text="${session.mvo.id}"></h4> -->
<script type="text/javascript">
		$(function(){
			$("#searchList").click(function() {				
				let location=$("#loc").val();
				let gender=$("#gen").val();
				let workType=$("#wtype").val();
				$.ajax({
					type:"get",
					url:"findMatchListBylgw",
					//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
					data:"memberVO.location="+location+"&memberVO.gender="+gender +"&memberVO.workType="+workType,
					success:function(list){						
						$("#matchTbody").replaceWith(list);//replaceWith
					}
				});//ajax
			});//click
		});//ready
	</script>
	



        </div>
      
 <!--================End layout Area =================-->