<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/match_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
         <form th:action="@{/updateMatch}" method="post" id="updateConfirm">
         <input name="id" th:value="${session.mvo.id}" type ="hidden">
         <input name="matchNo" th:value="${param.matchNo}" type ="hidden">
         <input name="matchNo" th:value="${param.image}" type ="hidden">
         <span style="font-size: 20px;">제목 : </span>
         <input style="border:none; width:500px; height: 40px;" type="text" name="title" th:value="${matchDetail.title}" required="required">
	    <input type="hidden" name="image" th:value="${matchDetail.image}"><br>
         <span style="font-size: 16px;">요양사 이름 : </span><span style="font-size: 16px;" th:text="${session.mvo.name}"></span><br>
         <span style="font-size: 16px;">성별 : </span><span style="font-size: 16px;" th:text="${session.mvo.gender}"></span><br>
         <span style="font-size: 16px;">지역 : </span><span style="font-size: 16px;" th:text="${session.mvo.location}"></span><br>
         <span style="font-size: 16px;">근무경력 : </span><span style="font-size: 16px;" th:text="${session.mvo.workHistory}"></span><br>
         <span style="font-size: 16px;">근무형태: </span><span style="font-size: 16px;" th:text="${session.mvo.workType}"></span><br>
      	<br>
      	<pre><textarea cols="90" rows="15" name="content" class="hanbitText" th:text=${matchDetail.content} required="required"></textarea></pre>
		<div align="center">
		<button type="submit" class="btn btn-outline-success btn-lg">수정</button>
		</div>
	</form>
		
		<script type="text/javascript">
     	$(document).ready(function() {
     		$("#updateConfirm").submit(function() {
     			return confirm("해당 게시물을 정말 수정하시겠습니까?????"); 
			});//submit
     	}); //ready
     
     </script>
        </div>
      
 <!--================End layout Area =================-->