<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
       
        <h4> ※ 요양 보호사의 정보를 확인하여 원하는 요양 보호사와 매칭할 수 있는 게시판입니다 ※ </h4> <br><br>
         <div class="row">
         <br>
       <h4>지역</h4>
        <select>
        <option>전체</option>
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="경기">경기</option>
        <option value="부산">부산</option>
        <option value="대구">대구</option>
        <option value="광주">광주</option>
        <option value="대전">대전</option>
        <option value="울산">울산</option>
        <option value="세종">세종</option>
        <option value="강원">강원</option>
        <option value="충북">충북</option>
        <option value="충남">충남</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>
        <option value="제주">제주</option>
        </select>
        
             &nbsp; &nbsp; &nbsp;     &nbsp; &nbsp; &nbsp;     
          <h4>성별</h4>
        <select>
        <option>무관</option>
        <option value="남자">남자</option>
        <option value="여자">여자</option>
        </select>
         
    </div>
        </div>
      
 <!--================End layout Area =================-->