<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/match_layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
         <form th:action="registerMatch" method="post" id="register_form" enctype="multipart/form-data">
         <br>
         <input name="id" th:value="${session.mvo.id}" type = "hidden">
         <span style="font-size: 20px;">제목 : </span> 
       	<input style="border:none; width:500px; height: 40px;" type="text" name="title" placeholder="게시글 제목을 입력하세요" required="required"> <br>
         <br>
        <div>
        <span style="font-size: 20px;">file : </span>
    	<input type="file" name="photo" accept="image/*">
  		</div>
         <br>
         <span style="font-size: 16px;">요양사 이름 : </span><span style="font-size: 16px;" th:text="${session.mvo.name}"></span><br>
         <span style="font-size: 16px;">성별 : </span><span style="font-size: 16px;" th:text="${session.mvo.gender}"></span><br>
         <span style="font-size: 16px;">지역 : </span><span style="font-size: 16px;" th:text="${session.mvo.location}"></span><br>
         <span style="font-size: 16px;">근무경력 : </span><span style="font-size: 16px;" th:text="${session.mvo.workHistory}"></span><br>
         <span style="font-size: 16px;">근무형태: </span><span style="font-size: 16px;" th:text="${session.mvo.workType}"></span><br>
         <br>
          <pre><textarea cols="90" rows="15" name="content" class="hanbitText" required="required"  placeholder="소개글을 입력하세요"></textarea></pre>
		<br>
		<div align="center">
		<button type="submit" class="btn btn-outline-success btn-lg">등록하기</button>
		</div>
	</form>
	
	 <script type="text/javascript">
     	$(document).ready(function() {
     		$("#register_form").submit(function() {
     			return confirm("글을 등록하시겠습니까?"); 
			});//submit
     	}); //ready
    </script>
        </div>
      
 <!--================End layout Area =================-->