<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
> <!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>한빛</title>
</head>
 <!--================Start layout Area =================-->
        <div layout:fragment="content">
       
        <h4> ※   매칭게시판 글쓰기 페이지입니다   ※  </h4> <br><br>
         
         <form th:action="registerMatch">
         제목 : <input type="text">
         <br><br>
         이력서
         <br><br>
         소개글
         <br>
          <textarea rows="8" cols="75" placeholder="소개글을 입력해주세요!"></textarea>

<div class="text-right">
<br>
<button>등록하기</button>
</div>
		</form>
        </div>
      
 <!--================End layout Area =================-->