<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/match_layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->

<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">
	<div align="center">
	<form th:action="@{/RealSendMessage1}" method="post" id="message_form1">
		<div align="left" style="margin-left: 350px;">
		<span style="font-size: 20px;">받는 사람 : </span>&nbsp;
		<span th:text="${receiveId}"></span> 님 <br>
		<input type = "hidden" name="receiveId" th:value="${receiveId}">
		<input type = "hidden" name="sendId" th:value="${session.mvo.id}">
		</div>		
		<br>
		<pre><textarea rows="10" cols="75" placeholder="쪽지 내용을 입력해주세요!" name="content"></textarea></pre>
		<br>
		<button type="submit" class="btn btn-outline-success btn-lg">쪽지 전송</button>
	</form>
	</div>
	 <script type="text/javascript">
     	$(document).ready(function() {
     		$("#message_form1").submit(function() {
     			return confirm("쪽지를 보내시겠습니까?"); 
			});//submit
     	}); //ready
     
     </script>
</div>

<!--================End layout Area =================-->