<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--/* 위 선언은 타임리프 레이아웃을 사용하기 위한 설정   */-->
<head>
<title>한빛</title>
</head>
<!--================Start layout Area =================-->
<div layout:fragment="content">

	<h4>※ 쪽지함입니다. ※</h4>
	<br>
	<br>

	<h4>보낸/받은 쪽지 카테고리</h4>
	<select id="messageCategory">
		<option th:value="받은쪽지">받은 쪽지</option>
		<option th:value="보낸쪽지">보낸 쪽지</option>
	</select>

&nbsp;&nbsp;
	<button type="button" id="messageCategory1">쪽지조회</button>

	<br>
	<br>

	 <table class="table table-bordered">
	 <thead>
		<tr>
			<th>보낸사람</th><th>내용</th><th>날짜</th><th>읽음여부</th>
		</tr>
	</thead>
	<tbody id="matchTbody">
		<tr th:each="match:${matchList}">
			<td th:text="${match.matchNo}"></td>
			<td th:text="${match.memberVO.location}"></td>
			<td> <a th:href="@{/matchDetail?matchNo=} + ${match.matchNo}" th:text="${match.title}"></a></td>
			<td th:text="${match.memberVO.name}"></td>
			<td th:text="${match.timePosted}"></td>
		  <td th:text="${match.hits}"></td>   
		</tr>	
	</tbody>
</table>
<br>
	<!-- <script type="text/javascript">
		$(function(){
			$("#searchList").click(function() {				
				let location=$("#loc").val();
				let gender=$("#gen").val();
				let workType=$("#wtype").val();
				$.ajax({
					type:"get",
					url:"findMatchListBylgw",
					//dataType:"json", // 문자열 응답이나 thymeleaf ajax 응답시에는 html요소로 응답받기 때문에  dataType=json을 명시하지 않는다
					data:"memberVO.location="+location+"&memberVO.gender="+gender +"&memberVO.workType="+workType,
					success:function(list){						
						$("#matchTbody").replaceWith(list);//replaceWith
					}
				});//ajax
			});//click
		});//ready
	</script> -->


</div>

<!--================End layout Area =================-->